{% include 'new/base.html' %}

<style>
  .body {
        background-color: #0d4c66;
      }
</style>

<div class="container">
            
    <div class="widgets"></div>
    <!-- checking account bit -->
    <section class="section">
      <div class="section__title d-none">
        <h2>Section</h2>
      </div>
      <div class="row gutter-bottom-xl">
        <!-- col-12 col-lg-7 col-xl-8 d-flex -->
        <div class="col-12 d-flex" style="width: 100%;">
          <div class="card card--lg">
            <div class="card__wrapper">
              <div class="card__container">
                <div class="card__header">
                  <div class="card__header-left">
                    <h3 class="card__header-title">Checking Account </h3>
                  </div>
                  <div class="card__tools">
                    <div class="card__tools-row row row--xs gutter-bottom-xs">
                      <!--  -->
                    </div>
                  </div>
                  <div class="card__tools-more">
                    <!--  -->
                    <div class="dropdown-items">
                      <div class="dropdown-items__container">
                        <ul class="dropdown-items__list">
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-refresh">
                                  <use xlink:href="#icon-refresh"></use>
                                </svg>
                              </span>Refresh </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-settings">
                                  <use xlink:href="#icon-settings"></use>
                                </svg>
                              </span>Settings </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-download">
                                  <use xlink:href="#icon-download"></use>
                                </svg>
                              </span>Download </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-action">
                                  <use xlink:href="#icon-action"></use>
                                </svg>
                              </span>Action </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__body">
                  <div class="card__widgets">
                    <div class="card__widgets-row gutter-bottom-sm">
                      <div class="card-widget card-widget--xl">
                        <h4 class="card-widget__title">Final Balance</h4>
                        <div class="card-widget__trade">
                          {% load humanize %}
                          <span class="card-widget__count">${{account.balance|intcomma}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card__countries-progressbar">
                    <div class="progressbar progressbar--stacked progressbar--axis-top progressbar--lg">
                      <div class="progressbar__items">
                        <div class="progressbar__bar progressbar__bar--green" style="width: 55%;">
                          <span class="progressbar__bar-count">${{account.return_balance_55_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--orange" style="width: 15%;">
                          <span class="progressbar__bar-count">${{account.return_balance_15_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--red" style="width: 15%;">
                          <span class="progressbar__bar-count">${{account.return_balance_15_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--orange-dark" style="width: 10%;">
                          <span class="progressbar__bar-count">${{account.return_balance_10_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--teal" style="width: 5%;">
                          <span class="progressbar__bar-count">${{account.return_balance_5_percent|intcomma}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__footer card__footer--lg">
                  <div class="card__container">
                    <div class="country-legend">
                      <div class="country-legend__row">
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-green"></span>
                            <span class="country-legend__name">Deposits</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--up">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">55%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-orange"></span>
                            <span class="country-legend__name">Check</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--down">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">15%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-red"></span>
                            <span class="country-legend__name">Withdrawals</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--up">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">15%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-orange-dark"></span>
                            <span class="country-legend__name">CD</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--down">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">10%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-teal"></span>
                            <span class="country-legend__name">Miles</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--up">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">5%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-lg-5 col-xl-4 d-flex">
          <div class="card">
            <div class="card__wrapper">
              <div class="card__container">
                <div class="card__header">
                  <div class="card__header-left">
                    <h3 class="card__header-title">Credit Card</h3>
                  </div>
                  <div class="card__tools-more">
                    <button class="items-more__button">
                      <svg class="icon-icon-more">
                        <use xlink:href="#icon-more"></use>
                      </svg>
                    </button>
                    <div class="dropdown-items">
                      <div class="dropdown-items__container">
                        <ul class="dropdown-items__list">
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-refresh">
                                  <use xlink:href="#icon-refresh"></use>
                                </svg>
                              </span>Refresh </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-settings">
                                  <use xlink:href="#icon-settings"></use>
                                </svg>
                              </span>Settings </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-download">
                                  <use xlink:href="#icon-download"></use>
                                </svg>
                              </span>Download </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-action">
                                  <use xlink:href="#icon-action"></use>
                                </svg>
                              </span>Action </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__body">
                  <div class="card__credit-card">
                    <div class="credit-card">
                      <img class="credit-card__image" src="https://res.cloudinary.com/dtzxi7n7o/image/upload/v1672378419/credit-card_x1fkiz.svg" alt="#">
                      <div class="credit-card__number-wrapper">
                        <input class="credit-card__number-input" type="text" value="0123456789101112" readonly="readonly">
                        <div class="credit-card__number">
                          <div class="credit-card__number-item" style="font-size: 15px;">
                            {% for i in first %}
                            {{i}}
                            {% endfor %}
                            </div>
                            <div class="credit-card__number-item" style="font-size: 15px;">{% for j in second %}{{j}}{% endfor %}</div>
                            <div class="credit-card__number-item" style="font-size: 15px;">{% for i in third %}{{i}}{% endfor %}</div>
                            <div class="credit-card__number-item" style="font-size: 15px;">{% for i in last %}{{i}}{% endfor %}</div>
                        </div>
                      </div>
                      <div class="credit-card__name">
                        <div class="credit-card__caption">Card Holder</div>{{request.user.first_name}} {{request.user.last_name}}
                      </div>
                      <div class="credit-card__date">
                        <div class="credit-card__caption">Expire</div>
                        <span>12/26</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__footer">
                  <div class="card__container">
                    <div class="card__credit-list">
                      <ul class="card-list">
                        <li class="row row--xs">
                          <div class="card-list__title col-auto">Card Type</div>
                          <div class="card-list__value col">VISA</div>
                        </li>
                        <li class="row row--xs">
                          <div class="card-list__title col-auto">Card Holder</div>
                          <div class="card-list__value col">{{request.user.first_name}} {{request.user.last_name}}</div>
                        </li>
                        <li class="row row--xs">
                          <div class="card-list__title col-auto">Expire</div>
                          <div class="card-list__value col">12/26</div>
                        </li>
                        <li class="row row--xs">
                          <div class="card-list__title col-auto">Card Number</div>
                          <div class="card-list__value col">{% for j in first %}{{j}}{% endfor %}
                            {% for j in second %}{{j}}{% endfor %}
                            {% for i in third %}{{i}}{% endfor %} 
                            {% for i in last %}{{i}}{% endfor %}</div>
                        </li>
                        <li class="row row--xs">
                          <div class="card-list__title col-auto">Balance</div>
                          <div class="card-list__value col">${{account.balance|intcomma}}</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <!-- end checking account bit -->
    <!-- savings bit -->
    <section class="section">
      <div class="section__title d-none">
        <h2>Section</h2>
      </div>
      <div class="row gutter-bottom-xl">
        <div class="col-12 col-lg-7 col-xl-8 d-flex">
          <div class="card card--lg">
            <div class="card__wrapper">
              <div class="card__container">
                <div class="card__header">
                  <div class="card__header-left">
                    <h3 class="card__header-title">Savings Account </h3>
                  </div>
                  <div class="card__tools-more">
                    <!-- <button class="items-more__button"><svg class="icon-icon-more"><use xlink:href="#icon-more"></use></svg></button> -->
                    <div class="dropdown-items">
                      <div class="dropdown-items__container">
                        <ul class="dropdown-items__list">
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-refresh">
                                  <use xlink:href="#icon-refresh"></use>
                                </svg>
                              </span>Refresh </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-settings">
                                  <use xlink:href="#icon-settings"></use>
                                </svg>
                              </span>Settings </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-download">
                                  <use xlink:href="#icon-download"></use>
                                </svg>
                              </span>Download </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-action">
                                  <use xlink:href="#icon-action"></use>
                                </svg>
                              </span>Action </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__body">
                  <div class="card__widgets">
                    <div class="card__widgets-row gutter-bottom-sm">
                      <div class="card-widget card-widget--xl">
                        <h4 class="card-widget__title">Final Balance</h4>
                        <div class="card-widget__trade">
                          <span class="card-widget__count">${{account.savings_balance|intcomma}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card__countries-progressbar">
                    <div class="progressbar progressbar--stacked progressbar--axis-top progressbar--lg">
                      <div class="progressbar__items">
                        <div class="progressbar__bar progressbar__bar--green" style="width: 40%;">
                          <span class="progressbar__bar-count">${{account.return_saving_40_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--orange" style="width: 20%;">
                          <span class="progressbar__bar-count">${{account.return_saving_20_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--red" style="width: 20%;">
                          <span class="progressbar__bar-count">${{account.return_saving_20_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--orange-dark" style="width: 10%;">
                          <span class="progressbar__bar-count">${{account.return_saving_10_percent|intcomma}}</span>
                        </div>
                        <div class="progressbar__bar progressbar__bar--teal" style="width: 10%;">
                          <span class="progressbar__bar-count">${{account.return_saving_10_percent|intcomma}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__footer card__footer--lg">
                  <div class="card__container">
                    <div class="country-legend">
                      <div class="country-legend__row">
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-green"></span>
                            <span class="country-legend__name">Deposits</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--up">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">40%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-orange"></span>
                            <span class="country-legend__name">Check</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--down">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">20%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-red"></span>
                            <span class="country-legend__name">Withdrawals</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--up">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">20%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-orange-dark"></span>
                            <span class="country-legend__name">CD</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--down">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">10%</span>
                          </div>
                        </div>
                        <div class="country-legend__item">
                          <div class="country-legend__left">
                            <span class="country-legend__marker color-teal"></span>
                            <span class="country-legend__name">Miles</span>
                          </div>
                          <div class="country-legend__trade">
                            <span class="country-legend__quot quotation quotation--up">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                            <span class="country-legend__percentage">10%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 col-xl-4 d-flex">
          <div class="card">
            <div class="card__wrapper">
              <div class="card__container">
                <div class="card__header mb-0">
                  <div class="card__header-left">
                    <h3 class="card__header-title">Interest Earned</h3>
                  </div>
                  <div class="card__tools-more">
                    <button class="items-more__button">
                      <svg class="icon-icon-more">
                        <use xlink:href="#icon-more"></use>
                      </svg>
                    </button>
                    <div class="dropdown-items">
                      <div class="dropdown-items__container">
                        <ul class="dropdown-items__list">
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-refresh">
                                  <use xlink:href="#icon-refresh"></use>
                                </svg>
                              </span>Refresh </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-settings">
                                  <use xlink:href="#icon-settings"></use>
                                </svg>
                              </span>Settings </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-download">
                                  <use xlink:href="#icon-download"></use>
                                </svg>
                              </span>Download </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-action">
                                  <use xlink:href="#icon-action"></use>
                                </svg>
                              </span>Action </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__body">
                  <div class="card__chart" style="position: relative;">
                    <div class="card__chart-item chart-profit" id="profitPieChart" data-series="[220, 100, 180]"
                      style="min-height: 270.233px;">
                      <div id="apexcharts9pf8kghnf" class="apexcharts-canvas apexcharts9pf8kghnf apexcharts-theme-light"
                        style="width: 340px; height: 270.233px;"><svg id="SvgjsSvg1433" width="340" height="270.23333333333335"
                          xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                          transform="translate(0, 0)" style="background: transparent;">
                          <g id="SvgjsG1435" class="apexcharts-inner apexcharts-graphical" transform="translate(41.333333333333314, 0)">
                            <defs id="SvgjsDefs1434">
                              <clipPath id="gridRectMask9pf8kghnf">
                                <rect id="SvgjsRect1437" width="265.33333333333337" height="283.33333333333337" x="-3" y="-1" rx="0"
                                  ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                              </clipPath>
                              <clipPath id="gridRectMarkerMask9pf8kghnf">
                                <rect id="SvgjsRect1438" width="263.33333333333337" height="285.33333333333337" x="-2" y="-2" rx="0"
                                  ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                              </clipPath>
                              <filter id="SvgjsFilter1445" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%">
                                <feFlood id="SvgjsFeFlood1446" flood-color="#ff3d57" flood-opacity="0.35" result="SvgjsFeFlood1446Out"
                                  in="SourceGraphic"></feFlood>
                                <feComposite id="SvgjsFeComposite1447" in="SvgjsFeFlood1446Out" in2="SourceAlpha" operator="in"
                                  result="SvgjsFeComposite1447Out"></feComposite>
                                <feOffset id="SvgjsFeOffset1448" dx="4" dy="0" result="SvgjsFeOffset1448Out"
                                  in="SvgjsFeComposite1447Out"></feOffset>
                                <feGaussianBlur id="SvgjsFeGaussianBlur1449" stdDeviation="0 " result="SvgjsFeGaussianBlur1449Out"
                                  in="SvgjsFeOffset1448Out"></feGaussianBlur>
                                <feBlend id="SvgjsFeBlend1450" in="SourceGraphic" in2="SvgjsFeGaussianBlur1449Out" mode="normal"
                                  result="SvgjsFeBlend1450Out"></feBlend>
                              </filter>
                              <filter id="SvgjsFilter1453" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%">
                                <feFlood id="SvgjsFeFlood1454" flood-color="#fdbf5e" flood-opacity="0.35" result="SvgjsFeFlood1454Out"
                                  in="SourceGraphic"></feFlood>
                                <feComposite id="SvgjsFeComposite1455" in="SvgjsFeFlood1454Out" in2="SourceAlpha" operator="in"
                                  result="SvgjsFeComposite1455Out"></feComposite>
                                <feOffset id="SvgjsFeOffset1456" dx="4" dy="0" result="SvgjsFeOffset1456Out"
                                  in="SvgjsFeComposite1455Out"></feOffset>
                                <feGaussianBlur id="SvgjsFeGaussianBlur1457" stdDeviation="0 " result="SvgjsFeGaussianBlur1457Out"
                                  in="SvgjsFeOffset1456Out"></feGaussianBlur>
                                <feBlend id="SvgjsFeBlend1458" in="SourceGraphic" in2="SvgjsFeGaussianBlur1457Out" mode="normal"
                                  result="SvgjsFeBlend1458Out"></feBlend>
                              </filter>
                              <filter id="SvgjsFilter1476" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%">
                                <feFlood id="SvgjsFeFlood1477" flood-color="#22cce2" flood-opacity="0.35" result="SvgjsFeFlood1477Out"
                                  in="SourceGraphic"></feFlood>
                                <feComposite id="SvgjsFeComposite1478" in="SvgjsFeFlood1477Out" in2="SourceAlpha" operator="in"
                                  result="SvgjsFeComposite1478Out"></feComposite>
                                <feOffset id="SvgjsFeOffset1479" dx="4" dy="0" result="SvgjsFeOffset1479Out"
                                  in="SvgjsFeComposite1478Out"></feOffset>
                                <feGaussianBlur id="SvgjsFeGaussianBlur1480" stdDeviation="0 " result="SvgjsFeGaussianBlur1480Out"
                                  in="SvgjsFeOffset1479Out"></feGaussianBlur>
                                <feBlend id="SvgjsFeBlend1481" in="SourceGraphic" in2="SvgjsFeGaussianBlur1480Out" mode="normal"
                                  result="SvgjsFeBlend1481Out"></feBlend>
                              </filter>
                            </defs>
                            <g id="SvgjsG1439" class="apexcharts-pie">
                              <g id="SvgjsG1440" transform="translate(0, 0) scale(1)">
                                <circle id="SvgjsCircle1441" r="80.92764227642279" cx="129.66666666666669" cy="129.66666666666669"
                                  fill="transparent"></circle>
                                <g id="SvgjsG1442" class="apexcharts-slices">
                                  <g id="SvgjsG1443" class="apexcharts-series apexcharts-pie-series" seriesName="Current" rel="1"
                                    data:realIndex="0">
                                    <path id="SvgjsPath1444"
                                      d="M 129.66666666666669 5.162601626016254 A 124.50406504065043 124.50406504065043 0 0 1 202.84831994802389 230.39257115331668 L 177.23474129954886 195.13850458298919 A 80.92764227642279 80.92764227642279 0 0 0 129.66666666666669 48.7390243902439 L 129.66666666666669 5.162601626016254 z"
                                      fill="rgba(255,61,87,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                                      stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0"
                                      index="0" j="0" filter="url(#SvgjsFilter1445)" data:angle="144" data:startAngle="0"
                                      data:strokeWidth="0" data:value="200"
                                      data:pathOrig="M 129.66666666666669 5.162601626016254 A 124.50406504065043 124.50406504065043 0 0 1 202.84831994802389 230.39257115331668 L 177.23474129954886 195.13850458298919 A 80.92764227642279 80.92764227642279 0 0 0 129.66666666666669 48.7390243902439 L 129.66666666666669 5.162601626016254 z"
                                      data:pieClicked="false"></path>
                                  </g>
                                  <g id="SvgjsG1451" class="apexcharts-series apexcharts-pie-series" seriesName="Lost" rel="2"
                                    data:realIndex="1">
                                    <path id="SvgjsPath1452"
                                      d="M 202.84831994802389 230.39257115331668 A 124.50406504065043 124.50406504065043 0 0 1 33.73463577342736 209.02854454480845 L 67.31084658606112 181.25188728745883 A 80.92764227642279 80.92764227642279 0 0 0 177.23474129954886 195.13850458298919 L 202.84831994802389 230.39257115331668 z"
                                      fill="rgba(253,191,94,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                                      stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1"
                                      index="0" j="1" filter="url(#SvgjsFilter1453)" data:angle="86.4" data:startAngle="144"
                                      data:strokeWidth="0" data:value="120"
                                      data:pathOrig="M 202.84831994802389 230.39257115331668 A 124.50406504065043 124.50406504065043 0 0 1 33.73463577342736 209.02854454480845 L 67.31084658606112 181.25188728745883 A 80.92764227642279 80.92764227642279 0 0 0 177.23474129954886 195.13850458298919 L 202.84831994802389 230.39257115331668 z"
                                      data:pieClicked="false"></path>
                                  </g>
                                  <g id="SvgjsG1459" class="apexcharts-series apexcharts-pie-series" seriesName="Target" rel="3"
                                    data:realIndex="2">
                                    <path id="SvgjsPath1460"
                                      d="M 31.226841724076706 212.26748746914998 A 128.50406504065043 128.50406504065043 0 0 1 127.42396149473414 1.182173417545357 L 128.25428456164747 48.751350062144425 A 80.92764227642279 80.92764227642279 0 0 0 67.67249600609253 181.68595240309583 L 31.226841724076706 212.26748746914998 z"
                                      fill="rgba(34,204,226,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                                      stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2"
                                      index="0" j="2" selected="true" filter="url(#SvgjsFilter1476)" data:angle="129.6"
                                      data:startAngle="230.4" data:strokeWidth="0" data:value="180"
                                      data:pathOrig="M 33.73463577342736 209.02854454480845 A 124.50406504065043 124.50406504065043 0 0 1 129.64493660810624 5.162603522321589 L 129.6525421286024 48.73902562284238 A 80.92764227642279 80.92764227642279 0 0 0 67.31084658606112 181.25188728745883 L 33.73463577342736 209.02854454480845 z"
                                      data:pieClicked="true"></path>
                                  </g>
                                </g>
                              </g>
                              <g id="SvgjsG1482" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"><text
                                  id="SvgjsText1483" font-family="Helvetica, Arial, sans-serif" x="129.66666666666669"
                                  y="161.66666666666669" text-anchor="middle" dominant-baseline="auto" font-size="16px"
                                  font-weight="400" fill="#8697a8" class="apexcharts-text apexcharts-datalabel-label"
                                  style="font-family: Helvetica, Arial, sans-serif;">Total</text><text id="SvgjsText1484"
                                  font-family="&quot;Roboto&quot;,sans-serif" x="129.66666666666669" y="133.66666666666669"
                                  text-anchor="middle" dominant-baseline="auto" font-size="36px" font-weight="700" fill="#44566c"
                                  class="apexcharts-text apexcharts-datalabel-value"
                                  style="font-family: Roboto, sans-serif;">$500</text></g>
                            </g>
                            <line id="SvgjsLine1485" x1="0" y1="0" x2="259.33333333333337" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                              stroke-width="1" class="apexcharts-ycrosshairs"></line>
                            <line id="SvgjsLine1486" x1="0" y1="0" x2="259.33333333333337" y2="0" stroke-dasharray="0" stroke-width="0"
                              class="apexcharts-ycrosshairs-hidden"></line>
                          </g>
                          <g id="SvgjsG1436" class="apexcharts-annotations"></g>
                        </svg>
                        <div class="apexcharts-legend"></div>
                        <div class="apexcharts-tooltip apexcharts-theme-dark">
                          <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker"
                              style="background-color: rgb(255, 61, 87);"></span>
                            <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                              <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span
                                  class="apexcharts-tooltip-text-value"></span></div>
                              <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                                  class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                          </div>
                          <div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker"
                              style="background-color: rgb(253, 191, 94);"></span>
                            <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                              <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span
                                  class="apexcharts-tooltip-text-value"></span></div>
                              <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                                  class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                          </div>
                          <div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker"
                              style="background-color: rgb(34, 204, 226);"></span>
                            <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                              <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span
                                  class="apexcharts-tooltip-text-value"></span></div>
                              <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                                  class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="resize-triggers">
                      <div class="expand-trigger">
                        <div style="width: 346px; height: 346px;"></div>
                      </div>
                      <div class="contract-trigger"></div>
                    </div>
                  </div>
                </div>
                <div class="card__footer">
                  <div class="card__container">
                    <table class="card__stat">
                      <tbody>
                        <tr>
                          <td>
                            <span class="signal" style="color: #FF3D57;"></span>
                            <span>Current</span>
                          </td>
                          <td>
                            <span>$200</span>
                            <span class="quotation quotation--up">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                          </td>
                          <td>
                            <span class="text-grey">37%</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="signal" style="color: #FDBF5E;"></span>
                            <span>Lost</span>
                          </td>
                          <td>
                            <span>$120</span>
                            <span class="quotation quotation--down">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                          </td>
                          <td>
                            <span class="text-grey">35%</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="signal" style="color: #22CCE2;"></span>
                            <span>Target</span>
                          </td>
                          <td>
                            <span>$180</span>
                            <span class="quotation quotation--down">
                              <svg class="icon-icon-arrow-down">
                                <use xlink:href="#icon-arrow-down"></use>
                              </svg>
                            </span>
                          </td>
                          <td>
                            <span class="text-grey">28%</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end savings bit -->
    <section class="section">
      <div class="section__title d-none">
        <h2>Section</h2>
      </div>
      <div class="row gutter-bottom-xl">
        <div class="col-12 d-flex">
          <div class="card pb-0">
            <div class="card__wrapper">
              <div class="card__container">
                <div class="card__header">
                  <div class="card__header-left">
                    <h3 class="card__header-title">Recent Transactions</h3>
                  </div>
                  <div class="card__tools-more">
                    <button class="items-more__button">
                      <svg class="icon-icon-more">
                        <use xlink:href="#icon-more"></use>
                      </svg>
                    </button>
                    <div class="dropdown-items">
                      <div class="dropdown-items__container">
                        <ul class="dropdown-items__list">
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-refresh">
                                  <use xlink:href="#icon-refresh"></use>
                                </svg>
                              </span>Refresh </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-settings">
                                  <use xlink:href="#icon-settings"></use>
                                </svg>
                              </span>Settings </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-download">
                                  <use xlink:href="#icon-download"></use>
                                </svg>
                              </span>Download </a>
                          </li>
                          <li class="dropdown-items__item">
                            <a class="dropdown-items__link">
                              <span class="dropdown-items__link-icon">
                                <svg class="icon-icon-action">
                                  <use xlink:href="#icon-action"></use>
                                </svg>
                              </span>Action </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__body">
                  <div class="card__scrollbar card__table">
                    <div class="card__table-transactions scrollbar-thin scrollbar-visible" data-simplebar="data-simplebar">
                      <table class="table table--lines table--striped">
                        <colgroup>
                          <col class="colgroup-1">
                          <col class="colgroup-2">
                          <col class="colgroup-3">
                          <col class="colgroup-4">
                          <col class="colgroup-5">
                          <col class="colgroup-6">
                          <col>
                        </colgroup>
                        <thead class="table__header table__header--sticky">
                          <tr>
                            <th>
                              <span class="text-nowrap">ID</span>
                            </th>
                            <th>
                              <span>Name</span>
                            </th>
                            <th>
                              <span>Date</span>
                            </th>
                            <th>
                              <span>Amount</span>
                            </th>
                            <th>
                              <span>Transaction Type</span>
                            </th>
                            <th>
                              <span>Status</span>
                            </th>
                            <!-- <th class="table__actions"></th> -->
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in history %}
                          <tr class="table__row">
                            <td class="table__td">
                              <span class="text-grey">{{i.id}}</span>
                            </td>
                            <td class="table__td">
                              <div class="media-item">
                                <!-- <div class="media-item__icon color-orange"> -->
                                  <!-- <div class="media-item__icon-text">WS</div>
                                  <img class="media-item__thumb" src="img/content/humans/item-4.jpg" alt="#">
                                </div> -->
                                <div class="media-item__right">
                                  <h5 class="media-item__title">{{i.recipient_name}}</h5>
                                </div>
                              </div>
                            </td>
                            <td class="table__td">
                              <span class="text-grey">{{i.timestamp}}</span>
                            </td>
                            <td class="table__td">
                              <span>${{i.amount|intcomma}}</span>
                            </td>
                            <td class="table__td">
                              <span class="text-grey">{{i.get_transaction_type_display}}</span>
                            </td>
                            <td class="table__td">
                              <div class="table__status">
                                <span class="table__status-icon color-green"></span> Success
                              </div>
                            </td>
                            <!-- <td class="table__td table__actions">
                              <div class="items-more">
                                <button class="items-more__button">
                                  <svg class="icon-icon-more">
                                    <use xlink:href="#icon-more"></use>
                                  </svg>
                                </button>
                                <div class="dropdown-items dropdown-items--right">
                                  <div class="dropdown-items__container">
                                    <ul class="dropdown-items__list">
                                      <li class="dropdown-items__item">
                                        <a class="dropdown-items__link">
                                          <span class="dropdown-items__link-icon">
                                            <svg class="icon-icon-view">
                                              <use xlink:href="#icon-view"></use>
                                            </svg>
                                          </span>Details </a>
                                      </li>
                                      <li class="dropdown-items__item">
                                        <a class="dropdown-items__link">
                                          <span class="dropdown-items__link-icon">
                                            <svg class="icon-icon-duplicate">
                                              <use xlink:href="#icon-duplicate"></use>
                                            </svg>
                                          </span>Duplicate </a>
                                      </li>
                                      <li class="dropdown-items__item">
                                        <a class="dropdown-items__link">
                                          <span class="dropdown-items__link-icon">
                                            <svg class="icon-icon-archive">
                                              <use xlink:href="#icon-archive"></use>
                                            </svg>
                                          </span>Archive </a>
                                      </li>
                                      <li class="dropdown-items__item">
                                        <a class="dropdown-items__link">
                                          <span class="dropdown-items__link-icon">
                                            <svg class="icon-icon-trash">
                                              <use xlink:href="#icon-trash"></use>
                                            </svg>
                                          </span>Delete </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </td> -->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
</div>
